@import "/src/global.scss";

nav#footer-container {
    width: 100%;
    height: 70px;
    background-color: var(--background-3);
    color: $primary-color;
    position: fixed;
    @include flex-items(row);
    bottom: 0;
    z-index: 500;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        text-align: center;

        a {
            text-decoration: none;

            &:hover {

                .img-tab-icon,
                p {
                    color: $primary-color;
                }
            }

            .img-tab-icon {
                font-size: 35px;
                color: var(--text-3);

                &.active {
                    color: $primary-color;
                }
            }

            p {
                font-size: $font-size-small;
                font-family: $font-instrument-sans;
                margin: 0;
                color: var(--text-3);
                font-weight: 500;

                &.active {
                    color: $primary-color;
                }
            }
        }
    }
}