@import '/src/global.scss';

div.label-option,div.label-input {
  display: flex;
  flex-direction: column;
  
  .label-text {
    font-size: $font-size-medium;
    text-align: left;
    margin-bottom: 8px;
  }

  input,select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--borders-separators-2);
    margin-bottom: 20px;
    font-size: $font-size-small;
  }
}
