@import "/src/global.scss";

#container-profile-bar {
    @include flex-items(row);

    background-color: var(--background-1);
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    position: fixed;

    .container-info-profile-name {
        display: flex;
        gap: 5px;
    }

    div {
        background-color: $neutral-default-white;
        width: 100%;
        border-radius: 10px;
        height: 2.5rem;
        padding: 0 15px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-radius: 20px;

        #icon-user {
            display: grid;
            place-items: center;
        }
    }

    input {
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: $font-size-medium-small;
        width: 100%;
        margin-left: 5px;
    }

    input:focus {
        outline: none;
    }
}