@import "/src/global.scss";

div#worker-coffe-shop{
  padding-top: 60px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  background-color: var(--background-1);

  color: var(--text-2);

  a {
    font-size: 1.5em;
    margin-left: 2vw;
    color: gray;
    margin-bottom: 2vh;
  }

  #workers-container{
    @include flex-items(column);
    h2{
      text-align: center;
      font-size: $font-subtitle-1;
      margin-bottom: 2vh;
      color: var(--text-1);
      border-bottom: 2px solid grey;
      width: 60%;
    }

    .worker-card{
      display: flex;
      justify-content: space-between;
      width: 50vw;
      margin: 0 auto;
      margin-bottom: 2vh;
    }
  }

  #resume{
    @include flex-items(column);
    h2{
      text-align: center;
      font-size: $font-subtitle-1;
      margin-bottom: 2vh;
      color: var(--text-1);
      border-bottom: 2px solid grey;
      width: 60%;
    }
    
    #data{
      width: 70%;
      padding: 0 15vw;
      .data-field{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2vh;
      }
    }
  }
  
}