<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form action="/api/products/" method="POST">
    <input name="name" type="text">
    <input name="price" type="number">
    <input name="category" type="text">
    <input name="description" type="text">
    <button id="create-button" type="submit">Mandar</button>
  </form>
</body>
</html>