
@import 'src/global.scss';
main.form-container {
  @include flex-items(column);
  min-height: 100vh;
  width: 100%;

  form {
    width: 90%;

    h2 {
      text-align: center;
      font-size: 40px;
    }
    div#buttons .welcome-submit:active{
      transform: translateY(5px);
    }
  }
}
