@import '/src/global.scss';

#owner-menu-page-container {
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;

  .container-add-category {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-1);
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    color: var(--background-1);

    .icon-add-category {
      font-size: 25px;
    }

    h1{
      font-size: $font-size-medium-big;
    }
  }

  .container-add-category:hover {
    background-color: transparent;
    border: 1px solid var(--text-1);
    color: var(--text-1);
  }

  .container-add-category:active {
    transform: scale(.9);
  }

  .container-category-owner {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    .container-title-category-owner {
      width: 100%;

      .title-category-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          display: flex;
          gap: 15px;

          * {
            color: var(--text-3);
            font-size: 22px;
          }
        }
      }

      .title-category-owner {
        color: var(--text-1);
        font-size: $font-H2;
        font-family: $font-kameron;
        font-weight: 500;
      }

      .divider-categories-owner {
        width: 100%;
        height: 2px;
        border: 0;
        margin: 5px 0;
        background-color: var(--text-3);
      }
    }

    .container-category-item-cards {
      @include flex-items(column);
      width: 100%;
      gap: 5px;

      .container-add-product{
        cursor: pointer;
        width: 50%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: var(--text-1);
        margin: 10px 0;
        border: 1px solid var(--text-1);
        padding: 8px;
        border-radius: 20px;

        .add-product-button {
          // margin: 20px 0;
          font-size: 20px;
        }
      }
      .container-add-product:hover{
        background-color: var(--text-1);
        color: $neutral-default-black;
      }

    }

    .container-category-item {
      padding: 5px;
      width: 95%;
      height: 100px;
      @include flex-items;
      gap: 20px;

      .container-img-category-item {
        height: 100%;
        flex: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .container-info-category {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        .container-text-item {
          width: 100%;
          font-weight: 600;
          color: var(--text-1);
          font-size: $font-small;
        }

        .container-control-price-item-category {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .text-price-item-category {
            color: var(--text-2);
            font-weight: bold;
            font-size: $font-size-small;
          }

          .container-control-item-category {
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 5px;

            * {
              color: var(--text-3);
              font-size: 22px;
              padding: 5px;
            }
          }
        }

      }
    }

  }
}