@import "/src/global.scss";

.category-cards-container {
    width: 100%;
    padding-top: 80px;
    display: flex;
    margin-bottom: 90px;
    background-color: transparent;

    main#category-container-card {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 14px;

        div{
            @include flex-items(column);
            width: 95%;
            border-radius: 10px;
        }
    }
}

@media (min-width: 800px){
    .category-cards-container main#category-container-card div{
        height: 18vh;
    }
}