@import '/src/global.scss';

.section-container-admins-cards {
    width: 100%;
    @include flex-items(column);
    gap: 1em;
}

@media (min-width: 800px) {
    .section-container-admins-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media (min-width: 1080px) {
    .section-container-admins-cards {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: start;
    }
}