@import "/src/global.scss";

#menu-page-container{
    background-color: var(--background-2);
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr 70px;
    
}