<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Crear</h1>
  <H2>CREAME</H2>
  <form action="/api/coffeShop/" method="POST">
    <input name="name" type="text" value="Nueva cafeteria">
    <input name="adminId" type="text" value="1">
    <button type="submit">Mandar</button>
  </form>
</body>

</html>