@import "/src/global.scss";

#home-container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-2);
    
    #content-home{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 72px;
        background-color: transparent;
}
}