<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h2>Listado de estudiantes</h2>
    <ul>
      <% for (let student of students) { %>
      <li>
        Nombre : <%= student.username %>
        <button class="delete-button" data-id="<%= student.id %>">
          Eliminar
        </button>
        <a href="/student/edit/<%= student.id %>">
          <button class="edit-button">Editar</button>
        </a>
      </li>
      <% } %>
    </ul>

    <a href="/student/create"> Crear Estudiante </a>

    <script src="/js/students/students-scripts.js"></script>
  </body>
</html>
