@import 'src/global.scss';

.container-product-card{
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-3);
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  // justify-content: space-between;

  &:hover {
    transform: scale(1.1);
  }

  .container-img-product-card{
    width: 100%;
    height: 80%;
    // aspect-ratio: 4 / 3;
    flex: 1 0 auto;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-product-card{
    width: 100%;
    min-height: 20%;
    margin: 0 5px;
    @include flex-items;

    h3{
      color: var(--text-2);
      text-align: center;
      font-size: $font-size-medium-small;
    }
  }
}

// @media (min-width: 800px) {
//   .container-product-card {
//       // width: 100%;
//   }
// }