@import '/src/global.scss';

.container-menu-cards {
    width: 100%;
    min-height: 200px;
    padding-bottom: 10px;
    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .container-title-card-home {
        width: 100%;
        margin: 10px 0;

        .title-card-home {
            margin: 0 10px;
            font-weight: 800;
            font-size: $font-size-big;
            color: var(--text-1);
        }
    }

    .container-menu-cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        gap: 10px;
        width: 100%;
    }
}