@import "/src/global.scss";

#page-settings-student {
  background-color: var(--background-1);
  min-height: 100vh;
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main#student-setttings {
  @include flex-items(column);
  color: var(--text-2);
  // margin-top: 60px;
  display: flex;
  gap: 20px;
  width: 90%;

  section#container-balance {
    @include flex-items(column);
    max-height: 70px;
    padding: 10px;

    .balance-title {
      font-weight: 300;
      font-size: $font-size-small;
    }

    .amount-balance {
      font-weight: 400;
      font-size: 35pt;
      color: var(--reverse-neutral)
    }

  }

  section#container-card-credit {
    @include flex-items(column);
    gap: 20px;

    div#carusel-credit-card {
      width: 100%;
      max-width: 90vw;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-behavior: smooth;
      gap: 20px;
      scrollbar-width: none;
      -ms-overflow-style: none;

      ::-webkit-scrollbar {
        display: none;

      }

      div#credit-card {
        border-radius: 10px;
        min-width: 280px; // Real Size of a credit Card in inches
        aspect-ratio: 1.586; // Real Aspect Ratio
        background: linear-gradient(125deg, #fff, #CBCBCB, #5A5A5A);
        // box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: end;
        justify-content: end;

        svg {
          color: black;
          margin: 0 20px;
          font-size: 60px;
          font-weight: 900;
        }
      }

      div#credit-card-add {
        border: 4px dashed var(--borders-separators-2);
        border-radius: 10px;
        width: 178px;
        height: 112px;
        @include flex-items(column);
        flex-shrink: 0;

        svg {
          font-size: 40px;
          color: var(--text-1);
        }

        .text-add-card {
          color: var(--text-2);
        }

      }
    }



    >h2 {
      text-align: center;
    }
  }

  section#card-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .option-card {
      @include flex-items(column);
      min-height: 100px;
      flex-grow: 1;
      gap: 10px;

      .card-icon-option {
        font-size: 32px;
        color: var(--text-2);
      }

      h2 {
        font-size: .8em;
        color: var(--text-3);
      }
    }

  }

  #settings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  section#section-log-out {
    padding-bottom: 100px;
    width: 100%;
    @include flex-items;

    .container-logout {
      @include flex-items;
      color: var(--text-2);
      gap: 10px;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    svg {
      margin: 0 auto;
      font-size: 2em;
      margin-bottom: 5px;
    }

    p {
      color: grey;
    }
  }
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: var(--background-1);
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  .container-exit-icon {
    width: 100%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;

    .icon-exit {
      font-size: 35px;
      margin: 5px 10px;
    }

    .icon-exit:active {
      transform: scale(.8);
    }
  }

  .content-modal {
    width: 100%;
    height: 100%;
    @include flex-items(column);
    gap: 15px;
    margin-bottom: 30px;
  }

  .container-btn-recargar {
    width: 100%;

    @include flex-items;

    #btn-recargar {
      width: 70%;
      height: 48px;
      font-size: $font-size-medium-big;
      font-weight: bold;
      background-color: var(--background-3);
      border: none;
      border-radius: 5px;
      color: var(--text-1);
    }

    #btn-recargar:active {
      transform: scale(.9);
      transition-duration: .3s;
    }
  }
}