@import "/src/global.scss";

.form-container-template {
    @include formulario-layout;
    height: 100vh;
    gap: 1em;

    .img-avatar-welcome * {
        fill: $neutral-default-white;
    }

    .img-avatar{
        color: blue;
    }
    .welcome-submit:active{
        transform: translateY(-4px);
        transition-duration: .3s;
    }

    .register-form-text {
        color: $primary-color;
        @include flex-items(row)
    }
}