@import '/src/global.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

details {
  & > *:not(summary) {
    opacity: 0; // Empiezan ocultos
    transform: translateY(-10px);
  }
}


.page-admin-container {
  width: 100%;
  height: 100vh;
}

main#admin-home {
  @include flex-items(column);
  gap: 1em;
  padding-top: 70px;

  details {
    width: 100vw;
    background-color: var(--background-1);
    color: var(--text-1);
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;

    summary {
      cursor: pointer;
      padding: 10px;
      font-weight: bold;
      background: var(--background-2);
      border-radius: 5px;
    }

    // Ocultar los elementos internos antes de abrir
    & > *:not(summary) {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


section#section-log-out {
  cursor: pointer;
  width: 100%;
  margin: 30px 0;
  @include flex-items;
  // background-color: $third-color;

  .container-logout {
    display: flex;
    align-items: normal;
    justify-content: center;
    color: $neutral-default-black;
    gap: 10px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  svg {
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 5px;
  }

  p {
    color: grey;
    text-align: center;
  }
}