@import '/src/global.scss';

.section-container-course-cards {
    width: 100%;
    // background-color: var(--background-3);
    @include flex-items(column);
    gap: 10px;
}

@media (min-width: 800px) {
    .section-container-course-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media (min-width: 1080px) {
    .section-container-course-cards {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-items: center;
    }
}