section#offers a{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2{
    text-align: center;
  }

  > div {
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }

  #offer-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px;

    h3{
      margin-bottom: 10px;
    }
    
    p {
      color: grey;
    }
  }
}